{% extends 'layout.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="head">
    <h2>Upload Dataset for Analysis</h2>
    <h2><img src="/static/images/profile.png" alt=""> {{ username }}</h2>
</div>

<!-- File upload form -->
    <center>
        <form class="upload" action="{{ url_for('home') }}" method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }} 
            {{ form.file }}  
            <button type="submit" class="btn btn-outline-primary">Upload</button>
        </form>
    </center>

<!-- Review textarea for sentiment analysis -->
<form id="reviewForm" action="{{ url_for('home') }}" method="post">
    {{ form.hidden_tag() }}  <!-- Include CSRF token here -->
    <div class="form-group">
        <label for="reviews">Type your reviews:</label>
        <textarea id="reviews" name="review" rows="3" cols="40" placeholder="Enter your review here..." class="form-control"></textarea>
        <button type="submit" class="btn btn-outline-success">Analyze</button>
    </div>
</form>

<!-- Display sentiment result directly below the analyze button -->
{% if sentiment_result %}
    <div class="alert alert-info" role="alert" style="margin-top: 1rem;">
        Sentiment: {{ sentiment_result }}
    </div>
{% endif %}

<!-- Display error message if any -->
{% if error_message %}
    <div class="alert alert-danger" role="alert" style="margin-top: 1rem;">
        {{ error_message }}
    </div>
{% endif %}

<!-- Clear data form -->
<form class="clear" action="{{ url_for('clear_data') }}" method="post">
    {{ form.hidden_tag() }}  
    <button type="submit" class="btn btn-danger" name="clear">Clear Data</button>
</form>

<style>
    body {
        height: 95vh !important;
        background-color: #77798c; /* Ensure this matches your body background color */
        color: white; /* Set text color for better visibility */
    }
    .upload {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40rem;
        margin-top: 10rem;
        /* border: 1px solid white; */
        height: 6rem !important;
        width: 75rem !important;
        border-radius: 1rem;
        
    }
    .upload button{
        width: 10rem;
        height: 3rem;
    }
    .upload img{
        width: 2rem;
    }
    .clear {
        margin-top: 5rem;
        display: flex;
        justify-content: center;
    }
    a {
        color: #ffca01; /* Customize the link color */
        text-decoration: none; /* Make links more noticeable */
    }
    .head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .head img {
        width: 3rem;
        border-radius: 50%;
    }
    .form-group,.form-group button {
        width: 75rem;
        margin: .5rem auto; 
    }
</style>
{% endblock %}
