@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&family=Rubik+Wet+Paint&display=swap');

*{
    margin-left: .5rem;

}
body{
    background-color: #181e4f;
    color: white;
}
li{
    margin-left: 1.5rem;
}
.head h1{
    font-family: "Rubik Wet Paint", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5rem;
}
.im{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-top: 5rem;
}
.im img:hover{
    scale: 1.2;
    transition: 1s ease-in-out;
}

.im img{
    width: 25rem;
    height: 15rem;
}
.welcome{
    margin-top: 8rem;
}
.w1{
    display: flex;
    flex-direction: row;
}
.w1 p{
    font-size: 1.2rem;
    margin-left: 3rem;
    font-family: "Amiri", serif;
    font-weight: 400;
    font-style: normal;
}
.w1 img{
    width: 25rem;
    margin-right: 3rem;
}

.head a{
    display: flex;
    flex-direction: row;
    justify-content: end;
    color: #ffca01; 
    font-size: 1.1rem;
}

.tech li{
    margin: 1rem;
}

.key{
    margin-top: 3rem;
}

.key ul{
    font-size: 1.3rem;
}

.follow ul{
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
}
.follow img{
    width: 2rem;
    align-items: center;
    justify-content: center;
}
.follow li{
    list-style-type: none;
}

.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
}